@charset "UTF-8";
/*
          em HTML é id = em CSS é# (só um elemento)
          em HTML é class = em css é . (pode vários elementos
*/
body {
          background-color: rgb(205, 255, 203);
          font-family: Arial, Helvetica, sans-serif;
}

h1 {
          color: rgb(4, 109, 0);
}
h1#principal {
          text-align: center;
          color: black;

}
h2 {
          color: rgb(73, 109, 71);
}
.basico {
          color: green;
}
.intermediario {
          color: rgba(152, 160, 8, 0.973);
}
.avancado {
          color: rgb(231, 7, 7);
}